[2020-09-02 19:02] bsergean opened #6 "Failure to publish an anonymous docker container"
Hi there,

I'm trying to setup something for an open-source library hosted on my company space. I am getting an [error](https://github.com/machinezone/IXWebSocket/runs/1063249282?check_suite_focus=true) though when my action runs at the login step, talking about a missing password.

[code]

I used this, hoping that the secret would be populated, following this [blog post](https://www.docker.com/bl

[2020-09-03 23:45] crazy-max commented on #6
@bsergean You have to create a GitHub PAT as explained in the [README](https://github.com/docker/login-action#github-container-registry). Have been tested [here](https://github.com/crazy-max/docker-login-action/blob/test/.github/workflows/ci.yml#L53-L59):

![image](https://user-images.githubusercontent.com/1951866/92184020-7c101300-ee3f-11ea-9b07-381fa3a36bd9.png)

[2020-09-04 00:00] bsergean commented on #6
Thank you.

[2020-09-04 09:38] #6 closed

[2020-09-05 03:16] dschinkel opened #7 "github.repository_owner"
Please delete this

[2020-09-05 03:36] #7 closed

[2020-09-05 03:40] dschinkel opened #8 "CR_PAT for GitHub Container Registry"
Is the `CR_PAT` the GitHub Container Registry Personal Access Token?  Can we update the docs to explain exactly what this is?  I forget where you even generate that from.

[2020-09-05 03:44] crazy-max commented on #8
@dschinkel

This is explained in the README [here](https://github.com/docker/login-action#github-container-registry).

[2020-09-05 03:45] dschinkel commented on #8
I see it now sorry.  My head is spinning from looking at Cloud Docs and GitHub Docs for a week now.  Thx.

[2020-09-05 03:45] #8 closed

[2020-09-05 13:47] crazy-max commented on #8
@dschinkel

See https://twitter.com/clarkbw/status/1300853015113396225

[2020-09-05 23:53] dschinkel opened #9 "Scope of Run Command after Authentication"
Can I assume that after I auth successfully here that the next run command takes that auth context?  For example:

[code]

I ask because I keep getting this error and I know I'm using a key with Cloud Storage Admin rights and I can't figure out why it keeps rejecting me still if I've authed with that key:
![Screen Shot 2020-09-05 at 6 52 34 PM](https://user-images.githubusercontent.com/338798/9231

[2020-09-06 01:06] dschinkel commented on #9
Figured it out.  I had created a new service account rather than use the default app service account.

[2020-09-06 01:06] #9 closed

[2020-09-11 22:05] docwhat opened #11 "buildx doesn't work with GitHub Package Docker registry"
The package registry will never support multi-arch image manifests.   The container registry (ghcr.io) does.

`buildx` pushes multi-arch image manifests, even when using a single architecture.  I don't think this can be turned off.

`docker/build-push-action@v2` uses `buildx`.   Therefore, I don't think it is necessary to have an example for the package registry.  Though a comment mentioning why m

[2020-09-11 22:21] crazy-max commented on #11
@docwhat

First of all, this action only handles login against a registry and does not concern `buildx`.

If no platform is defined, the one detected through your system will be used but it will not produce a manifest list like `application/vnd.docker.distribution.manifest.list.v2+json` but `application/vnd.docker.distribution.manifest.v2+json` so `buildx` will be able to push to the GitHub Packag

[2020-09-11 22:21] #11 closed

[2020-09-11 23:02] docwhat commented on #11
1. Yeah, I know, but it was written in conjunction with and for the `build-push-action`.
2. If you say so.  In practice, my tests show that the `build-push-action` is getting a 403 when using the GHPR (with no useful error message) and it works fine for the GHCR.

[2020-09-26 10:02] khs1994 opened #14 "can support macOS?"

[2020-09-26 11:42] crazy-max commented on #14
Docker is not available on [GitHub MacOS virtual environment](https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md)

[2020-09-26 11:42] #14 closed

[2020-10-16 11:23] mristin opened #17 "Error: Must provide --username with --password-stdin"
Hi,
I tried to build a multi-arch image in a workflow based on this article: https://github.com/docker/build-push-action#multi-platform-image

However, when I run it, I get the error:

[code]

Please see the full build log here: https://github.com/admin-shell-io/aasx-server/pull/41/checks?check_run_id=1264107244

[2020-10-16 11:34] mristin commented on #17
I figured out the issue. The problem is that I didn't set up the username correctly. In my workflow I wrote:

[code]

whereas the secret was `DOCKERHUB_USER`, so the username was empty. However, the message is really misleading in this case:
[code]

You probably need to do a more refined check here: https://github.com/docker/login-action/blob/master/src/docker.ts#L23:
[code]
?

Is the standard log

[2020-10-16 15:58] crazy-max commented on #17
@mristin Indeed the username should be required. I will push a fix, thanks for your input.

[2020-10-16 22:54] #17 closed

[2020-10-19 11:15] MartinSolie opened #19 "When login with AWS session token, username is redundant, but it is required by action from v1.5"
### Behaviour

We are generating one-time login AWS tokens in our Actions workflow.

Theoretically, we don't need aws_access_key_id and aws_secret_access_key. We need only aws_session_token to login into ECR because it has all needed for AWS information.

In practice:
  - docker/login-action <1.5:  it worked fine to run the action without username, just passing registry url and `aws_session_token`

[2020-10-19 21:34] dbuades opened #20 "Make this action compatible with aws-actions/configure-aws-credentials"
### Behaviour

The official AWS action for setting up credentials works very well for assuming roles. Ideally, this action should be compatible with it. We have been using https://github.com/aws-actions/amazon-ecr-login for logging in, but it is not compatible with your new https://github.com/docker/build-push-action.

Something like this would be very useful:

[code]

What do you think? Is there

[2020-10-19 21:51] crazy-max commented on #20
@dbuades This action already handles [AWS Elastic Container Registry (ECR)](https://github.com/docker/login-action#aws-elastic-container-registry-ecr):

[code]

If `role-*` are required on your side, then yes maybe we should be compatible with `aws-actions/configure-aws-credentials`.

[2020-10-19 22:00] crazy-max commented on #19
@MartinSolie

Actually,  username was already required since [1.4.0](https://github.com/docker/login-action/releases/tag/v1.4.0) because we're using `--password-stdin` [which requires `--username`](https://github.com/docker/cli/blob/9b3eef52181e8ee79af2dd9b3ee6605bd41a19a1/cli/command/registry/login.go#L84) so I don't think it worked for <1.5.

Are you on a self hosted runner? Because I don't see

[2020-10-19 22:04] dbuades commented on #20
Yes, that's what I meant, we need roles on our side and unfortunately this action doesn't support them.
I guess making this action compatible with  `aws-actions/configure-aws-credentials` is the easiest way to go, so that's why I suggested it.
Thanks and sorry if I didn't explain myself clearly!

[2020-10-19 22:34] crazy-max commented on #20
@dbuades

My bad I read it wrong. Something like this should work in the meantime:

[code]

[Env vars exported](https://github.com/aws-actions/configure-aws-credentials/blob/90247e87dda74e1722661cd5f9f024a4278839d9/index.js#L97-L140) by `aws-actions/configure-aws-credentials` for role assumption will be used through the [`ecr get-login` cmd](https://github.com/docker/login-action/blob/39ef12fb7a5c

[2020-10-20 12:48] crazy-max commented on #19
@MartinSolie

My bad about this one, login against ECR is actually handled through AWS CLI. Will be fixed thorugh #21.

[2020-10-20 13:24] dbuades commented on #20
That was really really quick, thanks!

[2020-10-20 16:14] #19 closed

[2020-10-20 16:14] #20 closed

[2020-10-24 19:31] Poeschl opened #24 "Permission denied on saving json credentials"
### Behaviour
When my action login into my GitHub Container Registry, the login fails with following error:

![image](https://user-images.githubusercontent.com/5469257/97091889-93010380-163f-11eb-9aa7-d9face8e9b80.png)

#### Steps to reproduce this issue

1. Specify correct registry, username, password
2. Try to login
3. fail

#### Expected behaviour

The login should be successful.

#### Actual b

[2020-10-24 20:34] crazy-max commented on #24
@Poeschl

That's because the GitHub Runner home dir is tampered by one of the previous steps. Probably [home-assistant/builder](https://github.com/home-assistant/builder) action which uses a composite action and mount and tampered `~/.docker` folder with root permissions. It also [runs a privileged container](https://github.com/home-assistant/builder/blob/26eee504cca8e1163a03c061ec8bdd4f75da05ca/a

[2020-10-24 21:22] Poeschl commented on #24
Ah, I moved to the action yesterday and overlooked that it mounts also the `.docker` folder. Thanks for pointing out.

[2020-10-24 21:22] #24 closed

[2020-11-09 19:45] joeyvanlierop opened #26 "Error logging into GitHub container registry"
### Behaviour
I was previously (~10 days ago) able to log into the GitHub container registry with no issues. All of the sudden I am getting this error message when trying to log in:
[code]

#### Steps to reproduce this issue

1. Create a PAT with the `delete:packages` and `write:packages` scopes
2. Add `CR_PAT` secret with the PAT
3. Run a workflow with the configuration mentioned below

#### Expe

[2020-11-09 19:51] joeyvanlierop commented on #26
Side note: I am guessing that this is due to an unexpected and unhandled update to the GitHub container registry. #23 is looking to be quite important if issues like this pop up more often.

[2020-11-09 20:48] crazy-max commented on #26
@joeyvanlierop [Works as expected](https://github.com/crazy-max/test-docker-action/runs/1376433798?check_suite_focus=true#step:6:9) for me. Maybe some disruption on GitHub. I suggest you open a support ticket to GitHub about this: https://support.github.com/contact

[2020-11-09 20:54] joeyvanlierop commented on #26
@crazy-max Working for me as well. Closing as it was probably a random disruption.

[2020-11-09 20:54] #26 closed

[2020-11-12 20:12] slimcdk opened #29 "Username and password not recognized"
### Behaviour
I'm using [this](https://github.com/docker/login-action#dockerhub) example to authenticate with docker hub, however the build fails with the error. What am I missing?
Secrets are set. Both username, password and a PAT - nothing fixes it

[code]

Configuration
[code]

[2020-11-12 20:19] crazy-max commented on #29
@slimcdk Do you have a link to your repo or [logs of your build](https://help.github.com/en/actions/configuring-and-managing-workflows/managing-a-workflow-run#downloading-logs)?

[2020-11-12 21:39] slimcdk commented on #29
Yea, I'll let it be public for the regards of this issue. It is here https://github.com/MSDO-ImageHost/Posts

[2020-11-12 21:44] slimcdk commented on #29
I had commented out the username and password as I was trying something else. When I reverted to username and password again, it worked...

[2020-11-12 22:44] crazy-max commented on #29
@slimcdk Ok, get back to me if you reproduce the issue.

[2020-11-12 22:44] #29 closed

[2020-11-13 08:28] eine opened #30 "Security issue"
Coming from docker/build-push-action#53

Refs:

- docker/login-action#25
- docker/github-actions#21
- actions/starter-workflows#96

### Behaviour

#### Steps to reproduce this issue

#### Expected behaviour

Login is secure or security warnings are not hidden.

#### Actual behaviour

Login is reported not to be secure, but warnings are hidden.

[2020-11-13 08:46] crazy-max commented on #30
@eine

This issue concerns the credential store used on the [GitHub Runner](https://github.com/actions/runner) and not this action itself. Also as you can see on your own fork, [credentials are removed](https://github.com/eine/login-action/runs/1354438643?check_suite_focus=true#step:7:3) when the job is finished.

[2020-11-13 09:08] eine commented on #30
@crazy-max, see actions/starter-workflows#96 (and the ref to docker/cli#2089). Ideally developers/maintainers of Docker and GitHub Actions would communicate with each other for achieving a satisfactory solution.

[2020-11-13 09:40] crazy-max commented on #30
@eine

Maybe GitHub could simply install the [`pass` credential helper](https://www.passwordstore.org/) on the GitHub Runner. WDYT @clarkbw?

[2020-11-13 15:15] clarkbw commented on #30
I've asked for this before. I'll push for it again.

[2020-11-18 22:47] mgalgs opened #32 "Where is the config.json?"
I'm a little confused about how this action's side-effects are persisted. I expected to see a `$HOME/.docker/config.json` file but I'm not seeing it.

The problem I'm trying to solve is enabling experimental `docker` CLI features in a subsequent step after using `docker/login-action`. I'm trying:

    DOCKER_CFG_PATH="${DOCKER_CONFIG:-$HOME/.docker}/config.json"
    jq '. + {"experimental": "enabl

[2020-11-18 22:54] crazy-max commented on #32
@mgalgs

* https://github.com/actions/starter-workflows/issues/336
* https://github.com/actions/runner/issues/533

[2020-11-18 23:55] mgalgs commented on #32
Thanks @crazy-max. Those issues are both the result of trying to write to `/etc/docker/daemon.json` as non-root. I'm actually not trying to write to `/etc/docker/daemon.json` (in fact, that file doesn't exist in my container).

I'm trying to figure out where `docker/login-action` stashes its credentials after logging in. It must be in the `GITHUB_WORKSPACE` somewhere, right? I've been digging thro

[2020-11-19 00:36] crazy-max commented on #32
@mgalgs Config is located in `$HOME/.docker/config.json` or `$DOCKER_CONFIG`. Before/after login it's available for me:

[code]

[code]

What virtual environment are you using? Are you on a self-hosted runner?

[2020-11-19 01:24] mgalgs commented on #32
gaaah I just realized what my issue was, thanks to your comment.

I was trying to access `~/.docker/config.json` from within my own custom action. So I was running in a docker container, not in the runner where `docker/login-action` does its work. That's why I couldn't see any `~/.docker/config.json` being created :facepalm:

My `docker login` step is now _two_ steps, and looks like this:

[code]

[2020-11-19 02:13] crazy-max commented on #32
@mgalgs

No need to repeat the login step in your DinD container as the host sock is already bind mounted (through `-v /var/run/docker.sock:/var/run/docker.sock`). See `Run docker://docker` logs in your action. You just need to specify the `DOCKER_CONFIG` env var in your job:

[code]

The output of `docker info` then shows you are actually logged in (`Username: ***`):

[code]

Thank you, but for m

[2020-11-19 05:20] mgalgs commented on #32
Oh wow that's much better... I'll give that a shot tomorrow.

Yeah my approach was pretty hacky. Yours seems pretty clean and canonical, and DinD might be a common enough use case to warrant a note on the README. If interested I can update the patch accordingly.

[2020-11-19 21:56] mgalgs commented on #32
Working great, thanks again @crazy-max. I've updated my PR accordingly but no worries if it's not useful.

[2020-11-19 22:29] mgalgs commented on #32
Hmm actually setting it on `jobs.build.env` seems to have confused the "Building docker image" step of my custom actions which have private repos in their `FROM` lines:

    pull access denied for my-org/my-private-repo, repository does not exist or may require 'docker login': denied: requested access to the resource is denied

Without the `jobs.build.env.DOCKER_CONFIG` setting the builds are succ

[2020-11-19 22:36] mgalgs commented on #32
In any case, I'm getting by all right with the double login method. Feel free to close if this is out of the scope of this action.

[2020-11-20 12:18] kushthedude commented on #29
@crazy-max We are facing this same issue here https://github.com/layer5io/meshery/pull/1952/files

[2020-11-20 12:20] kushthedude commented on #29
This is making it very difficult to debug as logs are quite ambiguous given I have already set-up repo secrets

[2020-11-20 14:35] crazy-max commented on #29
@kushthedude [Secrets are not passed to the runner when a workflow is triggered from a forked repository.](https://docs.github.com/en/free-pro-team@latest/actions/reference/encrypted-secrets#using-encrypted-secrets-in-a-workflow)

[2020-11-20 14:36] kushthedude commented on #29
Makes sense, got it

[2020-11-22 05:26] crazy-max commented on #32
@mgalgs Just tested pulling a private image inside a container and in another step of the job and [it works for me](https://github.com/crazy-max/docker-login-action/runs/1437509492?check_suite_focus=true#step:5:8).

[2020-11-22 05:26] #32 closed

[2020-11-30 18:11] valentijnscholten commented on #30
Please not this not only affects the "build and push" action. Currently every workflow must/should start with a docker login as to decrease the chance of being hit by the new rate limiting.

[2020-12-02 03:00] dryleaf commented on #6
I have added the action on my workflow:
[code]
- The `secrets.CR_PAT` is configured and works normally on my local environment.

I get the following error:
[code]

I can't seem to find the issue

[2020-12-02 18:21] clarkbw commented on #30
In the short term can we only filter out the login message?

[2020-12-02 19:01] eine commented on #30
@clarkbw this issue is about requesting relevant warnings not to be hidden from users. ATM, the warnings are filtered out: #25.

[2020-12-08 16:19] fagiani opened #34 "Login persistence on next action steps"
Hi, I am using a step after using `docker/login-action@v1` called `mamezou-tech/buildpacks-action@master` and as they use a Dockerfile to run the step the docker connection session is not persisted.

Is there a way to make it work? What could be done to have other "dockerized" steps to be able to benefit from the docker login action?

Thanks!

[2020-12-08 18:00] crazy-max commented on #34
@fagiani

As explained in https://github.com/docker/login-action/issues/32#issuecomment-730079570 you just have to set the env var `DOCKER_CONFIG: $HOME/.docker` in your workflow and docker config should be propagated to the `mamezou-tech/buildpacks-action` which uses a [dind conainer](https://github.com/mamezou-tech/buildpacks-action/blob/62a5f1cb41e5c6bada1cdac00cb159c7b1adc8f1/Dockerfile#L1) un

[2020-12-10 19:41] vincentsarago opened #36 "supporting AWS public registry: public.ecr.aws"
This is not a bug repport but maybe more a documentation request so please feel free to close it if there is a better place to raise this. And because I'm far to be an expert, I maybe totally wrong!

The public AWS repository (public.ecr.aws) needs almost the same login process as the private ECR but there is a huge difference in the registry URL which make it not compatible with this action

[cod

[2020-12-10 20:18] crazy-max commented on #36
@vincentsarago Thanks for your feedback I will take a look at adding support to this registry.

[2020-12-10 20:26] vincentsarago commented on #36
Also FYI, you'll need `aws-sdk>=2.806.0`https://github.com/aws/aws-sdk-js/blob/master/CHANGELOG.md#28060 which is not the one provided by `aws-actions/configure-aws-credentials@v1` yet (maybe in couple days I guess)

[2020-12-11 05:34] #34 closed

[2020-12-11 08:48] #36 closed

[2020-12-15 05:04] bhautikpip opened #38 "Issue: Login to public ECR action"
I am receiving `Error response from daemon: Get https://public.ecr.aws/v2/: denied: Not Authorized` while using Login to ECR action in my workflow. I am able to run `aws ecr-public get-login-password --region us-east-1 | docker login -u AWS --password-stdin public.ecr.aws` in my local machine. Would you be able to confirm if it's a bug? I could not find ecr publish test in this repo so not sure if

[2020-12-15 05:15] crazy-max commented on #38
@bhautikpip #37 has been merged to add support for Public ECR but no release have been created yet for this action because GitHub Runners does not currently support `ecr-public` command. (AWS CLI 2.1.4 on `ubuntu-20.04` and AWS CLI 1.18.185 on `ubuntu-latest`). See https://github.com/actions/virtual-environments/issues/2219#issuecomment-743021467

[2020-12-16 18:16] michaelb990 opened #39 "Login to cross-account ECR registry not working with AWS CLI v1 / ubuntu < 20"
### Behaviour
Logging into a registry in a different AWS account doesn't work when using CLI v1, with the `get-login` command.

#### Steps to reproduce this issue

1. Create a user in ACCOUNT A
2. Create a repository in ACCOUNT B
3. Grant the user in ACCOUNT A permission to access the repository in ACCOUNT B
4. Run `docker/login-action` with credentials from ACCOUNT A and try to push/pull an image

[2020-12-17 06:52] #38 closed

[2020-12-17 07:00] crazy-max commented on #38
@bhautikpip AWS CLI is [has been updated](https://github.com/actions/virtual-environments/issues/2219#issuecomment-747215783) on GitHub Runners. Let me know if everything is ok.

[2020-12-18 06:41] #39 closed

[2020-12-21 04:48] nao20010128nao opened #47 "Login in Windows environment"
### Behaviour

#### Steps to reproduce this issue

Run following workflow: (this is minimal I think)

[code]

#### Expected behaviour

Login is performed. Whether it success or not.

#### Actual behaviour

Gives:

[code]

### Configuration

* Repository URL (if public): https://github.com/nao20010128nao/ytdl-patched
* Build URL (if public): https://github.com/nao20010128nao/ytdl-patched/runs/15869

[2020-12-21 07:41] crazy-max commented on #47
@nao20010128nao Docker is [not available on GitHub Runners for Windows](https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners#supported-software).

[2020-12-22 10:38] crazy-max commented on #30
@eine @clarkbw actions/virtual-environments#2304 has been merged. Will be available ~January (https://github.com/actions/virtual-environments/issues/2302#issuecomment-749140395).

[2021-01-19 00:43] AnthonyMonterrosa opened #51 "Logout parameter and interaction with other docker actions"
Hello,

I'd like to further understand how `docker/login-action` interacts with other `docker` actions like `docker/build-push`, and the VM in general. To keep it simple: is the purpose of this action to login the user on the `runs-on` VM? Then, whatever actions require being logged in come after like `build-push`?

This is my initial understanding, although finding the `logout` parameter has me q

[2021-01-19 01:49] crazy-max commented on #51
@AnthonyMonterrosa

Actually no, `post` will run when **all main** of the job are completed, not the action itself is completed.

For example this workflow:

[code]

Will have the following execution timeline:

* `actions/checkout` run
* `docker/setup-buildx-action` run
* `docker/login-action` run
* `docker/build-push-action` run
* `docker/login-action` post
* `docker/setup-buildx-action` post
* `

[2021-01-19 01:49] #51 closed

[2021-01-19 02:06] AnthonyMonterrosa commented on #51
Ah, I conflated jobs and steps within jobs. Thank you.

[2021-01-22 17:45] AlexJeffcott opened #52 "Login fails asking for a password although one appears to be provided"
### Behaviour

When running workflow it errors at the login step, talking about a missing password.

I have created a PAT as described in https://github.com/docker/login-action/issues/6

#### Steps to reproduce this issue

1. run workflow

#### Expected behaviour

#### Actual behaviour

![image](https://user-images.githubusercontent.com/9036846/105525380-4fbb3d00-5ce1-11eb-8b58-b4216e3237ba.png)

[2021-01-22 20:01] crazy-max commented on #52
@AlexJeffcott

Looks like `${{ secrets.GITHUB_REGISTRY_TOKEN }}` is empty or missing. Have you created the secret `GITHUB_REGISTRY_TOKEN` for your repository? See https://docs.github.com/en/actions/reference/encrypted-secrets#creating-encrypted-secrets-for-a-repository

[2021-01-23 10:37] AlexJeffcott commented on #52
I have indeed created the PAT - I believe that the secrets are stripped out of the logs for security reasons.

Do you know of some way of varifying thatvthe secret is actualy there?

[2021-01-23 19:39] crazy-max commented on #52
@AlexJeffcott You have to [create PAT](https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token) with the [appropriate scopes](https://docs.github.com/en/packages/guides/about-github-container-registry#about-scopes-and-permissions-for-github-container-registry) and add it [as a secret](https://docs.github.com/en/actions/reference/encrypted-secrets#creating-encryp

[2021-01-23 21:03] AlexJeffcott commented on #52
Yes, I did exactly that just now and it works perfectly!
Thank you very much.
Can I suggest that you add this to the readme in some way as it was absolutely not clear to me that you had to do this?

[2021-01-24 02:14] #52 closed

[2021-01-31 15:55] danbalarin opened #53 "Feature request: Insecure registry"
Hi, it would be nice to add support for registries served only over http instead of https. Right now it gives this error:
[code]

[2021-02-01 20:39] crazy-max commented on #53
@danbalarin If you try to login to an insecure registry, [it’s not possible with basic authentication.](https://docs.docker.com/registry/insecure/#deploy-a-plain-http-registry).

If you want to pull or push an image you can set your registry as insecure in a step before:

[code]

But again **this is very insecure and is not recommended.**

[2021-02-01 20:39] #53 closed

[2021-02-01 20:44] crazy-max commented on #53
If you're using a [local registry in your workflow for testing purposes](https://github.com/docker/build-push-action/#local-registry) you can use the [build push action](https://github.com/docker/build-push-action) and do that instead:

[code]

[2021-02-06 15:01] rfftrifork opened #54 "Logging in to Github Container Registry"
### Behaviour

[code]

#### Steps to reproduce this issue

1. Follow your guide here: https://github.com/docker/login-action#github-container-registry

#### Expected behaviour

It should at least log in. I assume that the token I created should be added to the secrets (will try that in a moment)

Also project wide settings should not depend on personal tokens. IMO it's a an obviously bad design. T

[2021-02-06 15:41] rfftrifork commented on #54
And the last missing piece, please also include a link to this instructing people to enable the feature: https://docs.github.com/en/packages/guides/enabling-improved-container-support

Just wasted a lot of my time fighting your guides figuring all the missing steps. Please don't expect people to be familiar with all the details around. Even for experienced users that is simply not a fair assumptio

[2021-02-06 16:39] crazy-max commented on #54
@rfftrifork

The key `${{ secrets.xxxxx }` is self-explanatory if you have the minimum knowledge to use GitHub Actions. Otherwise here is the documentation about secrets: https://docs.github.com/en/actions/reference/encrypted-secrets

That's the current design implemented by GitHub as explained [in their documentation](https://docs.github.com/en/packages/guides/migrating-to-github-container-regist

[2021-02-16 12:30] #54 closed

[2021-03-04 12:54] frndmg opened #56 "Unable to locate executable file: aws"
### Behaviour

#### Steps to reproduce this issue

1. Run the CI with the steps described in the Configuration section.

#### Expected behaviour

It should login to AWS Elastic Container Registry

#### Actual behaviour

The executable `aws` is missing.

### Configuration

[code]

### Logs

[1_Push Docker image to GitHub Packages.txt](https://github.com/docker/login-action/files/6084530/1_Push.Dock

[2021-03-04 13:30] crazy-max commented on #56
@frndmg Do you have a link to your repo or [log file of your pipeline](https://docs.github.com/en/actions/managing-workflow-runs/using-workflow-run-logs#downloading-logs) please?

[2021-03-04 15:00] frndmg commented on #56
@crazy-max in case it helps this is running on a self-hosted runner. it is a ubuntu:18-04 machine

[2021-03-04 15:04] frndmg commented on #56
@crazy-max I just think about installing aws cli on the self-hosted runner. That was the issue. Thanks for the help.

[2021-03-04 15:20] crazy-max commented on #56
@frndmg

Yes that's it!

[2021-03-04 15:20] #56 closed

[2021-03-05 08:06] bash-stack opened #57 "secrets not passing"
### Behaviour
tried everything ( did a non-fork public clone)

[code]

RESULT:

[code]

in other repos it works ...

really annyoing ,maybe github issue itself , but about to switch away from sh*thub since microsoft crapped it up.. completely unusable mess since in gitlab you can at least switch off that secret replacing clowns-party for debugging ..

[2021-03-05 10:25] crazy-max commented on #57
@bash-stack

`secrets.DOCKER_USERNAME` and/or `secrets.DOCKER_TOKEN` secrets are empty.  See also https://github.com/docker/login-action/issues/54#issuecomment-774504364

[2021-03-05 10:25] #57 closed

[2021-03-05 15:01] bash-stack commented on #57
nope , it was not ( also tried auxilliary stuff, using environment and repo secret)

it turned out to be ( hold your breath) :

sh*thub replaced every `VARIABLE VALUE` with `***`
(  e.g. the docke-username  was used in the image tag , but the REAL result was `***/REPO-TAG`
so the ( ugly) solution was :
* fill out all the parts that contain possibly replaced strings in .yml
* leave only DOCKER_PASS

[2021-04-05 15:58] ticteam opened #62 "Error: unknown flag: --password-stdin"
### Behaviour

#### Steps to reproduce this issue

1. create secrets: REGISTRY_USER_NAME & REGISTRY_USER_PSW
2.  run the manual.yaml from ### Configuration
3. tried with and with out "with: registry: docker.io"

#### Expected behaviour

successfully login to docker hub && push image to docker hub

#### Actual behaviour
from log:

[code]

### Configuration

[code]

### Logs

[logs_13.zip](https://g

[2021-04-05 16:08] crazy-max commented on #62
@ticteam

Looks like you are on self-hosted runner. And looking at the error, I suspect you are on a pretty old version of Docker (~17.07).
Can you add those steps after checkout please?:

[code]

[2021-04-05 17:26] ticteam commented on #62
yeah , updating docker fixed it. big thanx

[2021-04-05 17:26] #62 closed

[2021-04-05 17:27] ticteam commented on #62
closed

[2021-04-05 23:24] devedse commented on #47
I would love if you guys could resolve this issue

[2021-04-07 03:37] jkasarherou opened #64 "Login doesn't support using EC2 instance credentials with ECR login"
### Behaviour

I am using self-hosted runners with an IAM role attached (with ECR permissions) and the login action fails.

#### Steps to reproduce this issue

1. Create a self hosted runner with IAM role attached (with ECR permissions)
2. Create a workflow with `uses: docker/login-action@v1`
3. Try to run the workflow

#### Expected behaviour

The login should use the EC2 instance credentials and

[2021-04-08 02:21] brianmay opened #65 "Error: Username and password required"
### Behaviour

#### Steps to reproduce this issue

1. Attempt to run CI on existing project that was working

Example: https://github.com/brianmay/scrooge/runs/2292983499

This is happening though in multiple projects.

#### Expected behaviour

No error. Should login to Docker. Credentials are (supplied using the designated secrets). This is not a forked repository. It was working. Not sure what h

[2021-04-08 23:29] brianmay commented on #65
Now I am really puzzled. It seems to be working fine to do. All the CI jobs that failed yesterday work fine today, after retry.

[2021-04-08 23:44] brianmay commented on #65
This makes me nervous, but assuming fixed for now. Closing. If I see it happen again, will reopen.

[2021-04-10 02:08] brianmay commented on #65
I am still seeing this. Generally retrying the build fixes the problem.

[2021-04-10 02:37] crazy-max commented on #65
@brianmay Don't think that's an issue with this action. Are you sure `DOCKERHUB_USERNAME` and `DOCKERHUB_TOKEN` secrets are allowed for your repository? If so, can you add the secret `ACTIONS_STEP_DEBUG=true` and give me the output of this action (redacted if needed) please?

[2021-04-10 10:22] brianmay commented on #65
Yes, If I hadn't set the secrets correctly, it would never work. Which is the mystery. Nor does it look like some sort of weird error from Docker.

Will try the setting the debug secret, but not sure when I will be able to reproduce the issue.

[2021-04-10 10:43] brianmay commented on #65
Hmmm. Looks like if you upgrade from dependabot.com to to dependabot within github, when it creates a PR it doesn't automatically get access to secrets. This is somewhat confusing.

Will try to read this when I am more awake. But I suspect this might be relevant: https://github.community/t/dependabot-doesnt-see-github-actions-secrets/167104/21

[2021-04-10 12:40] #65 closed

[2021-04-12 22:20] brianmay commented on #65
Official announcement: https://github.blog/changelog/2021-02-19-github-actions-workflows-triggered-by-dependabot-prs-will-run-with-read-only-permissions/

[2021-04-27 22:38] #47 closed

[2021-04-28 09:09] crazy-max commented on #64
@jkasarherou

The environment variables are [only overwritten if the username and password inputs are filled in](https://github.com/docker/login-action/blob/28218f9b04b4f3f62068d7b6ce6ca5b26e35336c/src/docker.ts#L55-L56).

Can you give me the complete output of the action please? Some logs are missing (like AWS cli version used). Also looking at the error it looks like `AWS_ACCESS_KEY_ID` and `AWS

[2021-04-30 15:21] spatel96 commented on #64
I am also experiencing this issue with a self-hosted AWS EC2 running and using the AWS aws-actions/configure-aws-credentials@v1 for populating credentials.
<details><summary>Example Configuration</summary>

[code]

</details>

<details><summary>Action Debug Logs</summary>

[code]

</details>

[2021-04-30 15:23] spatel96 commented on #64
I've just realised that it must be using an outdated version of the AWS CLI **1.18.147** which comes pre-installed on my self-hosted running.

I will try and upgrade the AWS CLI version as a workaround.

[2021-05-06 10:31] Frederik-Baetens commented on #65
Oh, thanks, that really clears this up for me, i was really confused by the login action sometimes not working for dependabot.

[2021-05-06 21:49] brianmay commented on #65
@Frederik-Baetens I think the behaviour changed when moving from dependabot preview (dependabot website) to dependabot (github website).

Unfortunately github actions don't have any easy way of skipping an entire job if secrets are not set. And dependabot will create PR and push actions - which are both affected. So I have had to add tests for every step in the job instead. Not sure if there is a

[2021-05-07 18:09] akay222 commented on #64
Mookie

[2021-05-07 19:38] akay222 commented on #64
Made it to where I don't receive any notifications and blocked me so I wouldn't notice not code of conduct

[2021-05-07 19:42] akay222 commented on #64
![image](https://user-images.githubusercontent.com/83668572/117500582-7163cb80-af42-11eb-911e-1b181ccb2afe.png)

[2021-05-07 19:43] akay222 commented on #64
￼ ￼￼I was getting emailed this stuff all morning I just want my account back

[2021-05-07 19:47] akay222 commented on #64
![image](https://user-images.githubusercontent.com/83668572/117501009-15e60d80-af43-11eb-9875-4865d9363ae7.png)

[2021-05-07 20:33] akay222 commented on #64
Yea he’s my ex husband and he’s on drugs and needed a phone so I put him on
my plan and the next thing I knew he’s hacking my apps. Posting my nude
pics on some website . He just hacked my account to use it to do that
through a third party. I bought that account to learn but I haven’t learned
anything and have been wondering why. And come to find out I get my account
suspended and emails from the

[2021-05-14 11:10] ArielLahiany opened #67 "Login is not able to get GitHub Actions secrects."
#### Expected behavior

#### Actual behaviour

### Configuration

* Repository URL (if public): https://github.com/ArielLahiany/marionette/
* Build URL (if public):

[code]
[logs_19.zip](https://github.com/docker/login-action/files/6478373/logs_19.zip)

[2021-05-14 11:22] #67 closed

[2021-06-04 04:02] umarcor opened #72 "Support logging to multiple registries with a single execution of the Action"
Currently, I need to login to three registries, which makes it very verbose to use this Action:

[code]

It would be nice if providing a list of targets was supported. For instance:

[code]

[2021-06-11 08:52] crazy-max commented on #72
Don't think that's smth we are going to handle here but nested actions through a composite action could be a good fit for that (actions/runner#646).

[2021-06-11 10:54] umarcor commented on #72
That's unfortunate...

Composite actions cannot use other actions. It does not seem that will change in the near future...

Moreover, due to #25 and #30 (see https://github.com/dbhi/vunit/runs/2802152583?check_suite_focus=true#step:3:10), it does not feel sensible to try working around the limitations. FTR, I'll use the following syntax for now:

[code]

[2021-07-14 13:55] tpolekhin commented on #72
@crazy-max I understand why you don't want to support multiple logins in one action for different registry types, but what about the same one?
Right now we're using this action to login to IBM Cloud Container Registry in different regions:
[code]

Credentials are the same for all regions, it's just the address of the registry that differs.

Could we possibly support something like this?
[code]

[2021-07-14 15:26] crazy-max commented on #72
@tpolekhin Thanks for your feedback, that sounds like legitimate to me so yes I think we could improve the current behavior. About design I will think about it. I also saw the [composite actions ADR](https://github.com/actions/runner/pull/1144) recently that could be beneficial for this use case.

[2021-07-18 02:51] umarcor commented on #72
I'm closing this issue since the proposed feature is not to be implemented here.

FTR, I'm using a single plain JavaScript file as an alternative:

[code]

[code]

Ref: https://github.com/hdl/containers/tree/main/utils/registry-login

[2021-07-18 02:51] #72 closed

[2021-07-19 10:51] tpolekhin opened #87 "Support List,CSV type for registry input"
Opening new issue to keep track of the implementation because original issue was closed

Right now we're using this action to login to IBM Cloud Container Registry in different regions:
[code]
Credentials are the same for all regions, it's just the address of the registry that differs.

Could we possibly support something like this?
[code]

[2021-07-21 01:38] JamesArthurHolland opened #90 "Error: Username and password required"
- name: Log in to Docker Hub
   uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
     with:
        username: ${{ env.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASS }}

It breaks with error:

Run docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
  with:
    username: correctUsername
    logout: true
  env:
    DOCKERHUB_PASS:
    DOCKERHUB_USER: ozone20

[2021-07-21 01:38] #90 closed

[2021-08-03 22:01] nitrocode commented on #64
I'm running into the same issue.

@crazy-max

If the self hosted running is using an IAM role then these environment variables would not be set as the EC2 should reuse the IAM role for authentication, no ?

[2021-08-13 15:15] blacktop opened #92 "Could you support DockerHUB Access Tokens"
Not sure if more or less secure that uploading user/pass to github?

[2021-08-16 14:34] wirwolf opened #93 "Error to login in mac-os action"
Output log:
[code]
log link: https://github.com/rundax/go-bitsong/runs/3341040866?check_suite_focus=true
config file: https://github.com/rundax/go-bitsong/blob/develop/.github/workflows/build.yml

[2021-08-16 15:08] crazy-max commented on #93
Docker is not available on MacOS GitHub Runners: https://github.com/actions/virtual-environments/

[2021-08-16 15:08] #93 closed

[2021-08-22 18:05] Daniele-Tentoni opened #95 "Failed to login with username and password or access token."
### Behaviour

#### Steps to reproduce this issue

1. Use this action in my workflow
2. Add a secret for username and for password, try to change any combinations of those, even with a token, username + password, username + token, email + password, email + token, nothing

#### Expected behaviour

I'm expecting to be authenticated. I don't have any right result message because I haven't one yet.

#

[2021-08-22 18:46] crazy-max commented on #95
@Daniele-Tentoni Looks like a typo:

`password: $${{ secrets.DOCKER_PASSWORD }}` > `password: ${{ secrets.DOCKER_PASSWORD }}`

[2021-08-22 18:46] #95 closed

[2021-08-22 19:00] Daniele-Tentoni commented on #95
Thank you @crazy-max, sorry for the inconvenience.

[2021-08-24 13:10] Judahh opened #96 "Ubuntu latest cannot find .docker"
### Behaviour
#### Steps to reproduce this issue

1. Execute action

#### Expected behaviour

Login

#### Actual behaviour

Error: Unable to locate executable file: docker. Please verify either the file path exists or the file can be found within a directory specified by the PATH environment variable. Also check the file mode to verify the file is executable.

### Configuration
[code]

### Logs
[l

[2021-08-24 13:48] Judahh commented on #96
I was using node... sorry

[2021-08-24 13:48] #96 closed

[2021-08-26 10:32] mdedetrich opened #97 "Docker related steps after login-action don't work with `no basic auth credentials`"
### Behavior

#### Steps to reproduce this issue

1. Have an already existing docker login using `echo ${GITHUB_TOKEN} | docker login docker.pkg.github.com -u ${GITHUB_ACTOR} --password-stdin`
2. Change it so it uses `login-action` github action
3. Create a pull request out of it

#### Expected behaviour

A successful docker-login persists the login information so later `docker-compose` works succ

[2021-09-01 21:34] crazy-max commented on #97
@mdedetrich Looks like docker-compose doesn't use the auth config as it should. Looks similar to:

* https://github.com/joyent/sdc-docker/issues/145
* https://github.com/docker/compose/issues/3037

You could try:

[code]

[2021-09-01 22:08] mdedetrich commented on #97
@crazy-max So I tried as you suggested and its still not working, you can see the latest results at https://github.com/zalando-nakadi/kanadi/pull/185/checks?check_run_id=3489723413, the PR has also been updated at https://github.com/zalando-nakadi/kanadi/pull/185/files

[2021-09-02 13:32] mdedetrich commented on #97
@crazy-max Figured out the issue, the problem is that githbu containers changed the domain for their registry to `docker.pkg.github.com`, now its working. Will setup a PR for the `README.md` to update this

[2021-09-02 13:32] #97 closed

[2021-09-02 15:02] crazy-max commented on #97
@mdedetrich

Oh ok didn't you were using `docker.pkg.github.com`. This registry is deprecated and will sunset this year. I suggest to [migrate to GitHub Container Registry](https://docs.github.com/en/packages/getting-started-with-github-container-registry/migrating-to-github-container-registry-for-docker-images) instead. See also https://docs.github.com/en/packages/learn-github-packages/configurin

[2021-09-02 15:25] mdedetrich commented on #97
Thanks for letting me know!

[2021-09-24 17:46] aleks-ivanov opened #102 "Q: Action vs. CLI"
I was wondering about the warning that the docker CLI gives when logging in:

[code]

How does the action handle it ?
Does the action do the exact same thing as the CLI and just basically masks the warning or does it do the login another way ?

[2021-09-30 13:23] eblot opened #104 "Startup failure"
### Behaviour

#### Steps to reproduce this issue

Add docker/login-action to workflow, start the workflow

#### Expected behaviour

Expect successful login on Docker registry.
No idea on how to diagnose this early error.

#### Actual behaviour

[code]

### Configuration

Private.

[code]

### Logs

There is no log file

<img width="1044" alt="Screenshot 2021-09-30 at 15 22 23" src="https://user-i

[2021-09-30 13:29] crazy-max commented on #104
@eblot

Not linked to this action but permissions in your organization. I suggest to contact the administrator of the organization or you can open a support ticket to GitHub about this: https://support.github.com/contact

[2021-09-30 13:29] #104 closed

[2021-09-30 13:29] eblot commented on #104
Note: replacing login-action with CLI does work:
[code]

[2021-10-02 17:54] sesopenko opened #105 "Cannot login to private registry that doesn't have routes for api versions"
### Behaviour

Fails to login to private registry

#### Steps to reproduce this issue

1. Declare a `registry` parameter pointing to a private registry. ie:  `https://docker.seanesopenko.ca`
2. Run github action

#### Expected behaviour

Logs in to registry

#### Actual behaviour

Fails to log in, with a 403 forbidden error.  Appends `/v2` to the url, assuming all registries have routes for docker

[2021-10-02 17:58] sesopenko commented on #105
I did some more digging and I can log in successfully from the private github runner instance with `v2` appended.  Closing, as this isn't an issue, sorry for the distraction.

[2021-10-02 17:58] #105 closed

[2021-10-04 11:16] crazy-max commented on #102
@aleks-ivanov

Yes that's it, see https://github.com/docker/login-action/issues/30 for more info and support of `pass` cred helper.

[2021-10-04 11:16] #102 closed

[2021-10-14 22:55] MederD opened #106 "Can't login to Docker registry which has multifactor authentication."
1. Created secrets for dockerhub username and access_token
2. Run a test docker registry login with the build steps provided here for dockerhub login.
3. Having error "Error: Username and password required"

Is it because of the multifactor authentication?

[2021-10-21 17:40] #106 closed, assigned to nobody

[2021-10-29 11:42] pawelmitka opened #107 "Use AWS ECR login method with a custom domain"
### Behaviour
Currently the ECR [login method](https://github.com/docker/login-action/blob/9e433e18cfff6656177a0cfc925831e79957ed84/src/docker.ts#L6) depends on [isEcr](https://github.com/docker/login-action/blob/9e433e18cfff6656177a0cfc925831e79957ed84/src/aws.ts#L7) which verifies an address. However, we would like to use a custom domain with ECR to simplify our Dockerfiles.

#### Steps to repro

[2021-11-15 16:04] pdonorio commented on #65
Anyone found a better solution for this?

To be forced rerunning all PRs from dependabot is quite annoying :/

[2021-11-15 21:08] brianmay commented on #65
It is not great, but I have been adding the following to every step in the publish task:

[code]

e.g. https://github.com/brianmay/penguin_memories/blob/main/.github/workflows/docker.yml#L148

What I wanted is to skip the entire `setup-build-publish-deploy` but this is not possible. It is not possible to access environment variables in the "if" for tasks, only the steps.

What I would like now is

[2021-11-21 20:06] eine commented on #102
Ref: #25

[2021-11-21 20:16] umarcor commented on #87
FWIW:

[code]

where `with-post-step/main.js`:

[code]

and:

[2021-11-22 16:09] Ocramius commented on #65
I just observed this as well, specifically for @dependabot patches, even when defining a PAT as repository secret specifically for dependabot.

See https://github.blog/2021-03-15-dependabot-private-dependencies/

This is kinda what's running:

[code]

Could it be that the brackets in `dependabot[bot]` (username) are being refused by the `ghcr.io` login?

[2021-11-24 22:18] brianmay commented on #65
Although not a solution to this problem, I really like the github reusable workflows.

https://docs.github.com/en/actions/learn-github-actions/reusing-workflows

This means I only need to put my hacks and kludges in one place.

My latest solution is to login conditionally to github:

https://github.com/brianmay/workflows/blob/b9432d015e8b14c218dff78b70b17982ab7e6218/.github/workflows/docker.yaml#L

[2021-12-03 21:33] udos opened #113 "is it possible to use docker/login-action as authentication for subsequent curl commands"
I would like to run some curl commands towards the docker hub registry and was curious if this is possible with docker/login-action and if yes, how to do it.

doing this was not successful:

[code]

[2021-12-06 00:21] Flydiverny commented on #64
I did some testing to simulate what happens in the login-action

Given this step below I will get the expected output
[code]

[code]

Where as if I added the process.env vars as the script does the step fails

[code]

[code]

a simple change to how we set the env vars should resolve it

[code]

Which will get me my EC2 credentials again :)

Created a PR #114

[2021-12-16 11:29] igorpecovnik opened #122 "Action fails on ARM64 self hosted runner"
### Behaviour

Permission denied while trying to connect to the Docker daemon socket

#### Steps to reproduce this issue

1. Using action on x86 runner works
2. Using action on arm64 runner fails (tested on many different ones)

#### Expected behaviour

It should login to the Github with the same way as it does on the x86 runner.

#### Actual behaviour

Error: Got permission denied while trying to

[2021-12-16 11:50] crazy-max commented on #122
Looks like an issue with Docker installation on your self-hosted runner.

[2021-12-16 11:55] igorpecovnik commented on #122
That was my first idea. As a normal user or root:

[code]

[2021-12-16 22:17] crazy-max commented on #122
@igorpecovnik Can you add this step before the login one and give me the output?:

[code]

[2021-12-16 22:28] crazy-max commented on #107
@pawelmitka Can you try with?:

[code]

[2021-12-16 23:01] igorpecovnik commented on #122
Here you go:
[code]
And it looks better: https://github.com/armbian/build/runs/4554283084 Pushing is slow but that could be Network / Github issue.

[2021-12-16 23:07] crazy-max commented on #113
No you cannot use the login action to make API requests to Docker Hub. You have to create an authentication token as [stipulated in the docs](https://docs.docker.com/docker-hub/api/latest/#operation/PostUsersLogin).

You can something like this but I don't think it will not work if 2FA is enabled:

[code]

Instead of curl requests, you could use the [hub-tool](https://github.com/docker/hub-tool).

[2021-12-16 23:07] #113 closed

[2021-12-16 23:12] crazy-max commented on #122
Ok, so the authentication works after all?

[2021-12-16 23:56] igorpecovnik commented on #122
Yes, it works now. Sorry for the noise.

[2021-12-16 23:56] #122 closed

[2021-12-18 21:15] Vlaaaaaaad opened #125 "Amazon ECR Private login fails on Windows"
### Behaviour

#### Steps to reproduce this issue

1. Create a GitHub Action workflow using `windows-latest`
2. Try to use the `docker/login-action@v1` action to login to an Amazon ECR Private repository
3. Fail

#### Expected behaviour

Action should login with Amazon ECR Private.

#### Actual behaviour

Action fails with error: `Unable to locate executable file: C:\Program. Please verify either

[2021-12-19 21:32] crazy-max commented on #125
@Vlaaaaaaad #126 should fix your issue. You can try with:

[code]

[2021-12-19 21:36] Vlaaaaaaad commented on #125
@crazy-max wow, you were fast!

Yup, I can confirm that code works! See https://github.com/Vlaaaaaaad/bug-docker-login-windows/runs/4576357893?check_suite_focus=true#step:3:14 for full logs.

[2021-12-20 09:51] #125 closed

[2021-12-20 10:05] #107 closed

[2021-12-20 11:35] TheMacies opened #129 "Logging in to public.ecr.aws stopped working on v1.11.0"
### Behaviour

After v.1.11.0 release our CI has started to fail when trying to log in to the ECR. Pinning action back to v.1.10.0 fixes the issue.

#### Steps to reproduce this issue

1. Run github action

#### Expected behaviour

Logging in to the ECR should succeed.

#### Actual behaviour

An error with following logs:

[code]

### Configuration

[code]

### Logs

Attached

[2021-12-20 12:24] crazy-max commented on #129
@TheMacies Thanks for your feedback. After investigation it could be linked to an issue with region. Will come back to you shortly.

[2021-12-20 12:31] AyrtonRicardo commented on #129
Also facing this issue with private registry.

Exactly version _v1.10.0_ works.

[2021-12-20 12:40] crazy-max commented on #129
@AyrtonRicardo Can you post your workflow please?

[2021-12-20 12:42] crazy-max commented on #129
@TheMacies @AyrtonRicardo Can you try with `uses: docker/login-action@test`?

[2021-12-20 12:48] AyrtonRicardo commented on #129
@crazy-max sure thing I can test. Gimme few minutes.

Your example is similar to what I use here.

[2021-12-20 12:49] AyrtonRicardo commented on #129
@crazy-max it seems to be working with `@test` version.

Output:
[code]

[2021-12-20 13:36] crazy-max commented on #129
Should be fixed with `docker/login-action@v1`

[2021-12-20 13:36] #129 closed

[2022-01-10 14:01] phracek opened #136 "Login to Quay.io does not work"
### Behaviour
My GitHub Action looks like https://github.com/sclorg/s2i-base-container/blob/master/.github/workflows/build-and-push.yml

#### Steps to reproduce this issue

1. export secrets into GITHUB_ENVs
2. in username and password use: ${{ env.QUAY_TOKEN }} respectively ${{ env.QUAY_TOKEN }}
3. Login to Quay.io does not work.

See error from action:
[code]

Storing secrets in the matrix does

[2022-01-11 12:40] phracek commented on #136
@crazy-max @Flydiverny Can you please look at this issue, what is wrong? Is this a bug? Thank you.

[2022-01-11 13:34] crazy-max commented on #136
@phracek

Looking at the error `Error: Username and password required` inputs look empty.

Don't think you can store secrets in `GITUHB_ENV`.

Suggest to have condition steps instead:

[code]

[2022-01-11 13:49] phracek commented on #136
Works. Thanks you

[2022-01-11 13:49] #136 closed

[2022-01-21 18:18] daniel-farrell-blockfi opened #141 "AWS Auth does not include session token"
### Behaviour

If used with short term AWS access tokens including a Session Token, the AWS ECR auth fails because the AWS integration interferes in the standard AWS credentials resolution process.

#### Steps to reproduce this issue

1. Use the aws-actions/configure-aws-credentials@master action with OIDC based role assumption (https://github.com/github/roadmap/issues/249).
2. Use the docker/logi

[2022-01-21 18:42] daniel-farrell-blockfi commented on #141
Not positive, but pretty sure this issue is here https://github.com/docker/login-action/blob/master/src/aws.ts#L57

I am not a typescript sdk user but generally with aws sdks, you don't have to do any explicit credentials setting.  You should be able to let the SDK rely on its built-in resolution process which will pick up ENV vars.

[2022-01-21 18:53] crazy-max commented on #141
@daniel-farrell-blockfi I think you should remove `username: AWS`.

[2022-01-21 21:16] daniel-farrell-blockfi commented on #141
Okay, actually that makes a lot of sense.  Then the credentials would be `undefined` and the env vars would probably get picked up.

[2022-01-26 10:27] #141 closed

[2022-02-08 17:37] svasek opened #146 "Environment variable https_proxy is not used"
### Behaviour
Login to AWS ECR doesn't work if action is running behind http(s) proxy.

#### Steps to reproduce this issue

1. Run self-hosted runner in network environment with blocked internet connection which needs use http_proxy
2. Set Environment variables `http_proxy` and `https_proxy` to correct proxy server
3. Let login-action to login to (private) ECR
4. Error: connect ETIMEDOUT 52.119.17

[2022-02-08 17:46] crazy-max commented on #146
@svasek Is the `uses: aws-actions/configure-aws-credentials@v1` step working?

[2022-02-08 17:47] svasek commented on #146
I'm not sure as I've added it because it didn't work.

[2022-02-08 17:56] crazy-max commented on #146
Looking at [their docs](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-proxy.html) it should be capitalize `HTTP_PROXY`, `HTTPS_PROXY` I think or maybe we need this kind of pkg: https://github.com/awslabs/aws-sdk-v3-js-proxy#readme

[2022-02-08 18:11] svasek commented on #146
- The workflow fails in step `Login to AWS ECR`
- It doesn't work even when I set environment variables capitalised
- It doesn't work even when I use directly `docker/login-action` w/o `aws-actions/configure-aws-credentials`

[2022-02-08 18:23] svasek commented on #146
Unfortunately it doesn't even when I tried it run directly:

[code]

Log output:

[code]

[2022-02-09 01:41] twiddler opened #147 "Cannot consume authorization in following steps"
### Behaviour

#### Steps to reproduce this issue

1. Sign in with `docker/login-action@v1`
2. Try to pull a private image from within a `docker` image based container

#### Expected behaviour

Trying to pull the private image from within a `docker` image based container should work the same as executing `docker pull ghcr.io/twiddler/my-alpine:3.13` on the host.

#### Actual behaviour

Interesting

[2022-02-15 13:13] svasek commented on #146
Hi @crazy-max, is there any update on this?

[2022-02-15 13:38] crazy-max commented on #146
@svasek Oh sorry I completely forgot that one. Will setup smth this week!

[2022-02-16 12:50] crazy-max commented on #146
@svasek Can you try with:

[code]

[2022-02-17 09:41] svasek commented on #146
Hi @crazy-max,
🎉 Congratulation! I can confirm it works like a charm in both scenarios.
So, It works even with the `aws-actions/configure-aws-credentials`.

It's also not necessary to set additional `env` for the step if proxy is set in the runner global environment.
Thank you very much. Good job!

[code]

[2022-02-17 10:30] #146 closed

[2022-02-21 14:19] mohitjoshi155 opened #155 "Cannot perform an interactive login from a non TTY device"
can anyone help me? i get this error wen using this...

Cannot perform an interactive login from a non TTY device

[2022-02-28 06:57] crazy-max commented on #155
Please create a proper [bug report](https://github.com/docker/login-action/issues/new?assignees=&labels=&template=bug_report.md). Thx.

[2022-02-28 07:04] crazy-max commented on #147
We have an [e2e test](https://github.com/docker/login-action/blob/6af3c118c8376c675363897acf1757f7a9be6583/.github/workflows/ci.yml#L52-L77) to check that behavior and it [works fine](https://github.com/docker/login-action/runs/5349621593?check_suite_focus=true#step:5:16). The issue could be that you're using the `GITHUB_TOKEN` to pull an image not for the same org/user. If that's the case you hav

[2022-02-28 15:23] peterzernia opened #159 "Error: System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values. (Parameter ''using: node16' is not supported, use 'docker' or 'node12' instead.')"
### Behaviour

After pulling the latest version 1.14.0, I'm getting the following error

`Error: System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values. (Parameter ''using: node16' is not supported, use 'docker' or 'node12' instead.')`

#### Steps to reproduce this issue

1. Use the latest version, 1.14.0
2. `Error: Fail to load docker/login-action/v1/action.ym

[2022-02-28 15:26] shanlashari commented on #159
+1

[2022-02-28 15:26] peterzernia commented on #159
Downgrading to v1.13.0 resolves the issue e.g.

`uses: docker/login-action@v1.13.0`

[2022-02-28 15:43] crazy-max commented on #159
Can someone post his workflow please? Thx.

[2022-02-28 15:54] BenV commented on #159
For us yes, this is a self hosted runner on GHE and we were caught off guard because we were pinned to @v1, pinning to 1.13.0 resolves the issue, but maybe this should be a major version bump?

[2022-02-28 16:01] crazy-max commented on #159
@BenV Which version of self-hosted runner? Node 16 is available since [v2.285.0](https://github.com/actions/runner/releases/tag/v2.285.0) (29 Nov 2021). Friendly ping @TingluoHuang just in case it's something else than an outdated runner.

[2022-02-28 16:09] BenV commented on #159
@crazy-max Looks like 2.283.3 (Oct 04, 2021) - fairly old, but not ancient (IMO)

[2022-02-28 16:11] crazy-max commented on #159
@BenV fwiw, Node 12 is EOL on April 30, 2022.

[2022-02-28 16:16] BenV commented on #159
@crazy-max Sure, I'm just a consumer of this stuff at a corporation (which is the position I'm sure many others are in on GHE) - this has started a conversation about version/SHA pinning for our actions which is certainly a good thing in the long run, and hopefully anyone who runs into this problem will be able to find this workaround easily enough, just wanted to provide the information. Thanks f

[2022-02-28 16:18] crazy-max commented on #159
@BenV Oh sure I don't blame anyone but I was thinking runner had an auto-update feature?

[2022-02-28 16:21] BenV commented on #159
@crazy-max No idea to be honest, I will certainly ask. I would not be surprised if they were disabled. Thanks again!

[2022-02-28 18:09] justfalter commented on #159
The latest stable release of Github Enterprise Server 3.3.4  ships with actions runner 2.283.3. I know I don't have `--disableupdate` within my environment, and 2.283.3 is the latest version that GHE will upgrade to on our runners.

[2022-02-28 18:09] jwo commented on #159
We are on github enterprise, on prem, and are running 2.279.0

We saw the errors, and downgrading to force 1.13 appears to fix for us.

[2022-02-28 18:16] justfalter commented on #159
Node 16 support won't be available to GHE until 3.4, which is still in RC: https://docs.github.com/en/enterprise-server@3.4/admin/release-notes#3.4.0.rc1 ... I'm uncertain as to whether it is simply a matter of upgrading to a newer version of the actions runner... There seems to be a tight coupling of the actions runner version and the GHE version.

Really, this feels like a breaking change for GH

[2022-02-28 18:18] crazy-max commented on #159
@justfalter Thanks a lot for your feedback! I will move the mutable `v1` tag to the previous release in the meantime and keep an eye on GHE.

[2022-02-28 18:19] crazy-max commented on #159
`v1` tag is now `v1.13.0`.

[2022-02-28 18:23] justfalter commented on #159
@crazy-max Keep in mind that not everyone will be immediately upgrading to GHE 3.4 once it is released. Enterprises can be slow-moving.

I don't know if GHA provides any telemetry for what version of GHE is leveraging your actions, but this seems like an excellent use case for such information.

[2022-03-01 09:43] crazy-max commented on #159
@justfalter https://github.com/actions/checkout/pull/689 :eyes:

[2022-03-01 19:54] #159 closed

[2022-03-21 02:43] parched opened #169 "README should explain why you would use this action"
It's not clear to me why I should use this action over just `docker login -u ... -p ...`, perhaps the README could explain why for newcomers like me.

[2022-03-23 09:16] hholst80 opened #173 "race condition for logout: true"
There is an obvious race condition if `logout: true` is used.

One job runs concurrently with another and the second job logsout after the first job finished logging in.

What I would like to do is to run an explicit `docker/logout` action to remove any credentials as part of an explicit cleanup.

[2022-03-23 10:40] crazy-max commented on #173
@hholst80 Can you give a link to your repo or post your workflow please? Thanks.

[2022-03-23 10:44] crazy-max commented on #169
It adds support for other providers that don't completely rely on `docker login` like AWS and also supports auto logout. Don't think it's worth adding explanations about this in the README but feel free to open PR if you think it is. Thanks.

[2022-03-23 10:44] #169 closed

[2022-03-23 10:44] #155 closed

[2022-03-23 10:44] #147 closed

[2022-03-23 11:51] hholst80 commented on #173
We have several workers running on the same docker machine. The credential store is shared between the runners.

[code]

[2022-03-26 12:22] hholst80 commented on #173
I researched this a bit and it seems that the only portable way to deal with credentials with Docker is to write those to a credentials store in the current users home directory. I assume that is what you are doing here.

The login and log-out needs to be coordinated carefully to avoid a race condition due to the shared state.

The only possible way to avoid the race condition would be to create a

[2022-03-26 12:50] crazy-max commented on #173
Yes if you're using a self-hosted runner, you're sharing the same configuration. `logout` is useful for ephemeral runners like the default GitHub Runners but in your case it doesn't make sense so I suggest to disable `logout`:

[code]

If you still want to `logout` in this case, you have to [create a dedicated `DOCKER_CONFIG`](https://docs.docker.com/engine/reference/commandline/cli/#change-the-do

[2022-03-26 12:50] #173 closed

[2022-06-23 19:36] moomiji commented on #65
According to this documents: https://docs.github.com/en/actions/using-workflows/reusing-workflows#passing-inputs-and-secrets-to-a-reusable-workflow

It should be noted that using login-action in called workflows need to use the `secrets` keyword to pass `username` and `password` when reusing workflows.

Like this:

[code]

.github/workflows/called-workflow.yml:
[code]

[2022-06-30 11:44] krishnaTORQUE opened #233 "Error: Username and password required"
### Behaviour

#### Steps to reproduce this issue

1.
2.
3.

#### Expected behaviour

Should Login

#### Actual behaviour

Error: Username & Password required

### Configuration

* Repository URL (if public):
* Build URL (if public):

[code]

### Logs
Run docker/login-action@v2
Error: Username and password required

[2022-07-10 17:35] iSolorak opened #236 "Username and Password required"
### Behaviour

#### Steps to reproduce this issue

1.
2.
3.

#### Expected behaviour

It should login me successfully  .

#### Actual behaviour

ERROR 5 : Username and password required

Also when i changed the credentials format to the actual dockerhub  username and token instead of ${{ secrets.DOCKERHUB_USERNAME }} , it logged in me correctly. But it is not possible to just upload your secret cr

[2022-07-10 17:46] iSolorak commented on #236
was using Dependabot secrets and not Action Secrets . Have a nice day !

[2022-07-11 07:49] #236 closed

[2022-07-11 07:52] crazy-max commented on #233
`${{ env.GCP_SERVICE_ACCOUNT_KEY }}` does not look correct. I guess it should be a secret like `${{ secret.GCP_SERVICE_ACCOUNT_KEY }}`

Closing this issue since that should answer your question, but feel free to re-open if it doesn't. Thanks.

[2022-07-11 07:52] #233 closed

[2022-08-05 00:48] thoughtfuldata opened #251 "Heroku Login"
I have login to Heroku Registry, which works fine
After docker/build-push-action( works fine), but I need to to run ```heroku container:release web``` to get the app deployed on Heroku. since docker/build-push-action doesn't run this command,  I have tried:"
[code]

however I get this error:
[code]

How can I get this extra command to work with the credentials from login-action? or am I missing so

[2022-08-11 09:55] crazy-max commented on #251
Looking [at the docs](https://devcenter.heroku.com/articles/container-registry-and-runtime#logging-in-to-the-registry), `heroku container:login` is used to login to Heroku Registry. It seems to use the same protocol as `docker login` to be able to push an image on `registry.heroku.com` so that's why you are able to push your image with the action.

But to [release an image](https://devcenter.herok

[2022-08-11 09:55] #251 closed

[2022-08-29 13:11] hjokunbus opened #262 "Docker is unable to access Github registry during action in self-hosted runner"
### Behaviour

#### Steps to reproduce this issue

1. Create personal token
2. Deploy token with repository
3. Trigger action

#### Expected behaviour

#### Actual behaviour
[code]

This broke at August 26th while working just fine before. The secret has not expired and also still works for manual login into ghcr.io. Only the action fails to perform. Re-runs of previously successful actions fail,

[2022-09-07 07:18] azarudeena opened #273 "Deprecated Docker V1 version."
### Behaviour

Now docker has deprecated the v1 version on docker APIs. Can we please upgrade the login action to use the V2 APIs to login? or is it dependant on the the underlying docker engine in the system?

[2022-09-07 16:58] crazy-max commented on #273
Deprecation is only about the [Docker Hub API v1](https://www.docker.com/blog/docker-hub-v1-api-deprecation/) and is not related to the login command.

[`docker login` sends a POST request](https://github.com/docker/cli/blob/e97d5d54c3519d5653fd6a131e35cc0fe988ed54/vendor/github.com/docker/docker/client/login.go#L15) to Docker Engine at [`/auth` endpoint](https://docs.docker.com/engine/api/v1.41/#

[2022-09-07 16:58] #273 closed

[2022-09-07 17:09] crazy-max commented on #262
Seems to have been a partial disruption of GitHub registry: https://github.com/orgs/community/discussions/30753#discussioncomment-3587506

Closing this issue since that should answer your question, but feel free to re-open if it doesn't. Thanks.

[2022-09-07 17:09] #262 closed

[2022-09-12 15:02] hjokunbus commented on #262
The original problem still occurs on our end. And it occurs for weeks now, not just hours. @crazy-max So you want me to post the same issue again? Because I cannot reopen an issue that you've closed myself.

[2022-09-13 00:38] crazy-max commented on #262
@hjokunbus Don't see any use of our `docker/login-action` in your workflow or logs.

[2022-09-13 13:48] hjokunbus commented on #262
@crazy-max Interesting. What other than "docker login" fails during my actions then? The [ContainerOperationProvider.cs](https://github.com/actions/runner/blob/main/src/Runner.Worker/ContainerOperationProvider.cs) in the log is part of your GitHub Action. Or isn't it? Can you point me to the responsible project, if you think that it has nothing to do with docker login?

[2022-09-13 13:54] crazy-max commented on #262
I don't know. This repository is about the `docker login` action (see [README](https://github.com/docker/login-action#about)). Not `docker login` command by itself.

It's part of the runner application. Suggest to open an issue on https://github.com/actions/runner

[2022-10-05 18:44] mmarcoux09 opened #295 "Log on private registry (HTTP)"
### Behaviour

#### Steps to reproduce this issue

1. Initiate the login-action
2. Pass a HTTP registry hostname
3. Error -> Error: Error response from daemon: Get "https://***/v2/": http: server gave HTTP response to HTTPS client

#### Expected behaviour

#### Actual behaviour

### Configuration

* Repository URL (if public): https://github.com/mmarcoux09/nodejs-docker-template
* Build URL (if pu

[2022-10-11 19:23] buggsdummy opened #300 "Usage for harbor is not an option"
https://goharbor.io

There isn't a custom way to push outside of what's existing, I'd like to request that harbor be added as one of the login options.

These are the only things we can push to. Thanks!

Usage is for the following only listed in the notes

[2022-10-11 20:17] crazy-max commented on #300
@buggsdummy Looking at [their docs](https://goharbor.io/docs/1.10/working-with-projects/working-with-images/pulling-pushing-images/#pulling-images), it doesn't seem anything special is required to login to this registry:

So should work just fine by setting the right values for [`registry`, `login` and `password` inputs](https://github.com/docker/login-action#inputs).

[2022-10-11 20:17] #300 closed

[2022-10-12 16:27] TacoBel42 commented on #295
Hi, that is not only this action problem, look here https://github.com/docker/for-win/issues/2546

[2022-10-17 00:23] tobiolusa commented on #29
Still having similar issue.
Error: Username and password required

[2022-10-18 03:37] manedurphy commented on #295
+1

[2022-10-19 12:49] rcdailey opened #305 "I get "Username and password required" even with an "if" condition on the step that evaluates to false..."
I'm using the below workflow (simplified):

[code]

When someone publishes a pull request from their fork, of course those two secrets will not be available. *However*, because I have the `if:` condition set up, in my mind, it should not matter if those variables are empty/undefined.

Unfortunately, though, I get this error:

See the error in my github workflow build result [here](https://github.c

[2022-10-19 14:17] rcdailey commented on #305
I'm closing this; this is apparently a weirdness with how github handles booleans. Since `false` gets assigned to `env.SHOULD_PUBLISH`, it actually gets converted to a string: `'false'`. The solution was to update the condition to:

[code]

Sorry for the false alarm!

[2022-10-19 14:17] #305 closed

[2022-10-20 03:27] dnjs0718 opened #306 "Node.js 12 actions are deprecated."
### Behaviour

#### Steps to reproduce this issue

1. Use github action
2. Execute deploy yaml file
3. The warning Message happened

How can I solve it?
Do I need to upgrade? If yes, which version should I use?

#### Expected behaviour

The warning Message should not be shown

#### Actual behaviour

The warning Message is shown to me

### Configuration

* Repository URL (if public): x
* Build URL

[2022-10-20 03:37] crazy-max commented on #306
[v2.0.0/v2](https://github.com/docker/login-action/releases/tag/v2.0.0) is already using the `node16` runtime: https://github.com/docker/login-action/blob/f4ef78c080cd8ba55a85445d5b36e214a81df20a/action.yml#L29

Are you on a self-hosted runner? Can you post the whole workflow and also logs?

[2022-10-20 03:49] crazy-max commented on #295
@manedurphy

Don't think we are going to do this as plain HTTP registry is not recommended and entirely disregard security for your registry (MITM).

If you really want to do this in your workflow you can have a step that adds `insecure-registries` to the `daemon.json` configuration before logging in.

[2022-10-20 03:49] #295 closed

[2022-10-20 05:29] dnjs0718 commented on #306
Oh, I solved it. I haven't run the file since I modified it.
It was my stupid mistake. thanks a lot!

[2022-10-20 05:29] #306 closed

[2022-10-21 23:48] manedurphy commented on #295
@crazy-max

So I tried a couple of things when using my own Github Actions runner. I'm running everything in an internal homelab environment. I am running a Docker Registry in a virtual machine over HTTPS with certificates that I generated. The first issue that I ran into was pushing an image to this registry because the virtual machine that was running the GA runner did not recognize the certific

[2022-10-22 01:00] crazy-max commented on #295
Self-signed cert need to be placed in `/etc/docker/certs.d/<domain>/ca/crt`, see https://docs.docker.com/registry/insecure/#use-self-signed-certificates

When pushing an image, it depends how you've set up BuildKit. If you're using the [`build-push` action](https://github.com/docker/build-push-action/) or [`bake` action](https://github.com/docker/bake-action) to build and push, you might also need

[2022-10-26 10:40] elvisAR-git commented on #29
Yeah, me too.  Any Fix, please :)

[2022-10-26 12:11] BeyondEvil opened #317 "Using private ECR images as a Service in Github Actions"
If you come here looking for a way to use private ECR images as ["services"](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idservices) in Github Actions workflows, here's a workaround:

https://github.com/community/community/discussions/19819#discussioncomment-3969355

[2022-10-26 12:11] BeyondEvil commented on #317
I'll leave this open for maintainers to acknowledge and potentially add labels to. Then please feel free to close. 🙏

[2022-11-02 15:06] asad-awadia opened #328 "Docker login returns 503"
### Behaviour

Docker login returns 503 for a self hosted registry. I have confirmed that the registry is NOT down. I can go to `https://registry.xyz.dev/v2/<name>/tags/list` and see the response in my browser as well as push/pull/login from local

Registry is deployed as a docker container on a regular VPS with nginx in front of it

Cloudflare is used for DNS

Docker login works from local mac [o

[2022-11-02 15:55] asad-awadia commented on #328
cloudflare is blocking it by issuing JS challenges in bot fight mode :/

[2022-11-02 16:09] #328 closed

[2022-11-04 11:14] waldirborbajr opened #331 "Fine-grained personal access tokens"
### Behaviour

I've create a PAT from Beta Fine-grained token, and maked **ALL User and Repository permissions** options to READ-WRITE, copied generated token.

Into my project repository I've created an Action Token called GH_PAT and copied token generatated from Fine-grained than executed action to generate a deploy do GHCR.io

After that I've executed that action to deploy, but I got a permissi

[2022-11-08 18:32] harshraj22 commented on #29
Same issue.

[2022-11-16 11:54] dogmatic69 opened #342 "unable to use build kit"
### Behaviour

Unable to build images after changing to use this action over doing the `docker login ...` thing manually. That is the only change, so pretty sure it's related to something going on here.

#### Steps to reproduce this issue

1. google/auth for token with wif
1. docker/login-action for docker login
3. build with DOCKER_BUILDKIT=1

#### Expected behaviour

Image should be built

####

[2022-11-16 11:56] dogmatic69 commented on #342
[This](https://github.com/moby/moby/issues/39120) seems to be related, but when I previously used a run action with `docker login...` I did not have any issues with build kit.

[2022-11-16 12:02] dogmatic69 commented on #342
Could be some kind of docker hub outage as it seems quite random. Does not always seem to fail on that step and sometimes even works 😕

[2022-11-17 15:15] gotchipete opened #345 "(Question): lifecycle?"
Hey there!  Question about the usage/lifecycle of this action..

Our actions have multiple jobs, sometimes running in parallel via `matrix` - my question is, if I use this login job once in my action (say it's named `login`), and make the other jobs dependent on it (e.g. with `needs: login`) - will the other jobs' image pulls also be authenticated (assuming I set the `logout` property to `false`),